<!-- HTML file for burger website -->
<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <head>
        <title>Order Your Spaghetti Burger!</title>

        <!--Loading in resources (css + js)-->
        <!--<link rel="stylesheet" href="css/deli-very.css">-->
        <script type="text/javascript" src="js/food.js"></script>
    	<script src="/vue/vue.js" defer></script>
	    <script src="/socket.io/socket.io.js" defer></script>
	    <!--<script src="js/deli-very.js" defer></script>-->
        <!--<script src="js/js_script.js" defer></script>-->
        <script src="https://vuejs.org/js/vue.js" defer></script>
        <script src="js/vue_script.js" defer></script>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!--
        not sure why this is here.. might need later
        <div id="vue-container"> -->
        <main>
        <header class="title">
            <img src=http://photoexpress.ie/images/Small-bar.jpg alt="bar_photo" style="opacity:0.7;">
            <div class="centered">
                <h1>Welcome to Spaghetti</h1>
            </div>
        </header>
        <div id="myID">
        <section>
                <div class="wrapper">
                    <div v-for="burger in burgers">
                        <h1 style="text-align: center; color: #fff;">{{burger.name}}</h1>
                        <p class="burger_product">
                            <img :src=burger.imageLink width="125px" height="100px" class="burger_img">
                        </p>
                        <div class="text">
                            <li>
                                {{ burger.kCal + ' kCal'}}
                            </li>
                            <li v-if="burger.gluten===true">
                                Contains gluten
                            </li>
                            <div v-else>
                                <br>
                            </div>
                            <li v-if="burger.lactose===true">
                                Contains lactose
                            </li>
                            <div v-else>
                                <br>
                            </div>

                            <input type="checkbox" :id=burger.name name="burger">

                            Add to order
                        </div>
                    </div>
                </div>

        </section>


        <div class="order_section">
            <section class="order_info">
                <h2>Customer Information</h2>
                    <p>This is where customer information is input</p>
                <h3>Delivery Information:</h3>
                <p>
                    <strong><label for="fullname">Full name</label><br></strong>
                    <input type="text" id="fullname" name="Fullname" required="required" placeholder="First and last name">
                </p>
                <p>
                    <strong><label for="email">E-mail</label><br></strong>
                    <input type="text" id="Email" name="Email" required="required" placeholder="E-mail address">
                </p>
                <!--<p>-->
                    <!--<strong><label for="Street_name">Street name</label><br></strong>-->
                    <!--<input type="text" id="Street_name" name="Street_name" required="required" placeholder="Street name">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<strong><label for="House_number">House number</label><br></strong>-->
                    <!--<input type="number" id="House_number" name="House_number" required="required" placeholder="House number">-->
                <!--</p>-->
                <p>
                    <strong><label for="payment">Payment Method</label><br></strong>
                    <select id="Payment" name="pay">
                        <option>Gold</option>
                        <option>Credit Card</option>
                        <option>Debit Card</option>
                        <option>Cash</option>
                    </select>
                </p>
                Please indicate point of delivery:
                <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
                <div class="view-box">
                    <div id=dots v-on:click="displayOrder">
                        <div v-bind:style="{ left: x + 'px', top: y + 'px'}">
                            T
                        </div>

                        <!--<div v-bind:style="{left: x + 'px', top: y + 'px'}">-->
                            <!--T-->
                        <!--</div>-->
                    </div>
                </div>
                    <strong><label for="gender">Gender</label></strong>
                    <form action="">
                        <input type="radio" name="gender" value="Male">Male<br>
                        <input type="radio" name="gender" value="Female">Female<br>
                        <input type="radio" name="gender" value="Other">Other<br>
                        <input type="radio" name="gender" value="Undisclosed">Do not wish to disclose<br>
                    </form>
            </section>
        </div>

        <button v-on:click="addOrder('unseen')" class="button(data)">Check out</button>

        <div id="unseen" class="unseen">
            <h3>Order received!</h3>
            <h4>Customer Details</h4>
            <h5>
                <ul>
                    Name: {{customer_details[0]}}
                </ul>
                <ul>
                    Email: {{customer_details[1]}}
                </ul>
                <ul>
                    Deliver to: {{delivery_details}}
                </ul>
                <ul>
                    Payment: {{customer_details[2]}}
                </ul>
                <ul>
                    Gender: {{customer_details[3]}}
                </ul>

            </h5>
            <h4>Order Details</h4>
            <h5>
                <ul>
                    {{ get_order().join(', ') }}
                </ul>
            </h5>

        </div>

        <footer style="padding-top: 0px;">
            <p>&copy Kevin Peng </p>
        </footer>

        </div>

        </main>

    </body>
</html>

